head{
height: 10%;
}

body{
    color: #E8EDF9;
}

.body{
margin-top: 20px;
width: 100%;
height: 80%;

}

.openedchats{
border: 1px solid #000000;
height: 100%;
width: 25%;
float: left;
background-color: #7094A8;

}
       
ul{
    list-style: none;
    padding: 0px;
    height: 100%;
    width: 100%;
}

li{
text-align: center;
color: #000000;
padding: 5px;

}


#footer{

    padding: 0px;
    margin: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.chat{

border: 2px solid #000000;
text-align: left;
padding: 10px;
width: 70%;
float: right;
height: 100%;
margin-bottom: 10px;
}

#chattitle{
text-align:center;
font-size: 150%;
padding: 0px;
margin:0px;
color: #E8EDF9;

}

#input{
border: thin solid white;
border-radius: 10px;
float: left;
width: 95%;

}

#input #searchtext{
width: 75%;
}

#input #search{
width: 20%;
float: right;
}


.chat #m1{
border: thin solid white;
border-radius: 10px;
float: left;
width: 95%;
}
.chat #m2{
width:95%
border: thin solid black;
border-radius: 10px;
float: right;
}

.chat #m3{
border: thin solid white;
border-radius: 10px;
float: left;
width: 95%;
}

.chat #m4{
width:95%
border: thin solid white;
border-radius: 10px;
float: right;
}

.chat #m5{
border: thin solid white;
border-radius: 10px;
float: left;
width: 95%;
}
