#header_content {
	margin: auto;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1;
/*	background: #99FFD1;*/
	background: #7094A8;
}

#header_content #header_bar p {
	float: left;
	font-family: Raleway;
	font-weight: bold;
	font-size: 22px;
	padding-top: 0.35%;
	letter-spacing: 1px;
	margin-left: 25%;
	position: absolute;
}

#header_content #header_logo_container {
	float: left;
	width: 325px;
	position: relative;
}

#header_content #header_logo_container #logo_image {
	width: 20%;
	padding-left: 30%;
}

#header_content #header_bar p a {
	text-decoration: none;
	color: #5B5E63;
}











head{
height: 10%;
}

.body{

width: 100%;
height: 100%;

}

.openedchats{
border: 1px solid #000000;
height: 100%;
width: 25%;
float: left;
background-color: #eeeeee;

}
       
ul{
    list-style: none;
    padding: 0px;
    height: 100%;
    width: 100%;
}

li{
text-align: center;
color: #000000;
padding: 5px;

}


#footer{

    padding: 0px;
    margin: 0;   
    background-color: #333;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;
    width: 100%;
}

.chat{

border: 1px solid #000000;
text-align: left;
padding: 10px;
width: 70%;
float: right;
height: 100%;
margin-bottom: 10px;
}

#chattitle{
text-align:center;
font-size: 150%;
padding: 0px;
margin:0px;
}

#input{
border: thin solid white;
border-radius: 10px;
float: left;
width: 95%;

}

#input #searchtext{
width: 75%;
}

#input #search{
width: 20%;
float: right;
}


.chat #m1{
border: thin solid white;
border-radius: 10px;
float: left;
width: 95%;
}
.chat #m2{
width:95%
border: thin solid black;
border-radius: 10px;
float: right;
}

.chat #m3{
border: thin solid white;
border-radius: 10px;
float: left;
width: 95%;
}

.chat #m4{
width:95%
border: thin solid white;
border-radius: 10px;
float: right;
}

.chat #m5{
border: thin solid white;
border-radius: 10px;
float: left;
width: 95%;
}


footer {
	border: 1px solid black;
	width: 90%;
	margin: auto;
	display: block;
	bottom: 0;
	left: 0;
	background: #ffffff;/*#99FFD1;*/
	position: relative;
	font-family: Raleway;
} #footer_table {
	width: 70%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	table-layout: fixed;
} .table_header {
	font-size: 16px;
	padding-bottom: 2%;
	color: #5B5E63;
} .table_data {
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
} .table_data a {
	text-decoration: none;
	color: #5B5E63;

	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
} #footer_text {
	text-align: center;
	margin: auto;
	font-size: 11.5px;
	color: #5B5E63;
}

.table_data a:hover {
	color: #99FFD1;
}
