ul{
    background-color: #D3D3D3;
}

li{
    display: inline;
    padding: 20px;
    
}

form{
    display: inline;
    padding: 20px; 
}
#search {
    color: #FFFFFF;
    background-color: #607B8B;
    
}

#search.hover {
    color: #FFFFFF;
    background-color: #236B8E;
}