ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

form{
    display: inline;
    padding: 20px; 
}
#search {
    color: #FFFFFF;
    background-color: #607B8B;
    
}

#search.hover {
    color: #FFFFFF;
    background-color: #236B8E;
}

div.tables{
    border: 2px solid #000000;
    margin: 2px;
    padding: 5px;  
}
#smile{
    display: inline-block;
}


#footer{
    position: absolute;
    padding: 0px;
    margin: 0;   
    background-color: #333;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;
    width: 100%;
}