/******************************
	Author: Chuan Xu
*******************************/

body {
	/*background: linear-gradient(to right, #929BC2 , #E7E9BB);*/
	height: 100%;
	min-width: 1000px;
	background: #E8EDF9;
}
.login
    {
        vertical-align:middle;
        margin-left:40%;
        margin-top:0%;
        width:50%;
        height:15%;
        min-width:42%;
        color: #E8EDF9;
/*         color: black;*/
        overflow:auto;
    }
/*Bhargavi's stuff*/
.button2
    {
        border-radius: 5px;
        height:25px;
        width:175px;
/*        color: #E8EDF9;*/
        color: black;
    }

#header_content {
	margin: auto;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1;
	background: #7094A8;
}

#header_content #header_bar p {
	float: left;
	font-family: Raleway;
	font-weight: bold;
	font-size: 150%;
	letter-spacing: 1px;
	margin-left: 25%;
	position: absolute;
}

#header_content #header_logo_container {
	float: left;
	width: 355px;
	position: relative;
}

#header_content #header_logo_container #logo_image {
	width: 20%;
	padding-left: 30%;
}

#header_content #header_bar {
	
}

#header_content #header_bar p a {
	text-decoration: none;
	color: #E8EDF9;

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#header_content #header_bar p a:hover {
	text-decoration: none;
	color: white;
}

.navigation {
	list-style-type: none;
	text-align: right;
	margin: 0px;
	padding: 0px;
	padding-right: 5%;
	padding-top: 1%;
	overflow: hidden;
}

.nav_item {
	border-radius: 5%;
	font-family: Raleway;
	font-weight: bold;
	font-size: 13.2px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	margin: 10px;
	height: 20px;
	width: 100px;

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.nav_item a {
	text-align: center;
	text-decoration: none;
	color: #E8EDF9;

	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.nav_item:hover {
	background: #93BBC6;
	padding-left: 6px;
	padding-right: 6px;
	opacity: 0.75;
}

.nav_item a:hover {
	color: #1B2336;
}

#background_images_container {
	width: 100%;
	margin: auto;
	height: auto;
	top: 0;
	min-height: 900px;
	position: fixed;
}

#background_images {
	background: url('../../image/home/background.jpg');
	background-size: cover;

	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.15;
	z-index: -1;
}

div#content {
	width: 100%;
	height: auto;
	min-height: 600px;
	z-index: 1;
	font-family: Lora;
	font-size: 110%;
	letter-spacing: 0.5px;
}

.content_inner_odd {
	width: 100%;
	height: auto;
	min-height: 600px;
	background: #F0F3FA;
}

.content_inner_even {
	width: 100%;
	height: auto;
	min-height: 600px;
}

.content_text_odd {
	float: left;
	margin-left: 10%;
	margin-top: 20%;
	line-height: 150%;
	position: relative;
}

.content_text_odd1 {
	float: left;
	margin-left: 10%;
	margin-top: 10%;
	line-height: 150%;
	position: relative;
}

.content_text_even {
	float: right;
	margin-right: 15%;
	margin-top: 15%;
	line-height: 150%;
	position: relative;
}

.content_header {
	color: #1B2336;
}

.content_text {
	color: #5B5E63;
}

.content_image_container_odd {
	margin-left: 55%;
	margin-right: 10%;
	margin-top: 10%;
}

.content_image_container_odd1 {
	margin-left: 50%;
	margin-right: 5%;
	margin-top: 10%;
}

.content_image_container_even {
	margin-left: 5%;
	margin-right: 58.5%;
	margin-top: 10%;
}

.content_image_container_even1 {
	margin-left: 5%;
	margin-right: 55%;
	margin-top: 10%;
}

.content_image {
	padding-left: 0%;
	width: 100%;
	position: relative;
}

.section_line {
	width: 90%;
	color: #5B5E63;
}

footer {
	width: 90%;
	margin: auto;
	display: block;
	bottom: 0;
	left: 0;
	background: #E8EDF9;
	position: relative;
	font-family: Raleway;
} #footer_table {
	width: 70%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	table-layout: fixed;
} .table_header {
	font-size: 16px;
	padding-bottom: 2%;
	color: #5B5E63;
} .table_data {
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
} .table_data a {
	text-decoration: none;
	color: #7094A8;

	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
} #footer_text {
	text-align: center;
	margin: auto;
	font-size: 11.5px;
	color: #5B5E63;
}

.table_data a:hover {
	color: #1B2336;
}
