/* David Lindskog */

body {

}

#header {
    border: solid gray;
    margin: 2% 0;
}
#header > h3 {
    margin: 0;
}

#content_pane {
    /*min-height: 500px;*/
}

.panel {
    margin: 2% 1%;
    padding: 1%;
}
.panel > h1 {
    margin: 0 0 1% 0;
}


/* TITLE */
#div_title {
    height: 110px; /* TODO make % */
}
#div_img {
    display: inline-block;
    vertical-align: bottom;
    width: 10%;
    height: 95%;
    border: dashed lightgray;
}
#img_group {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}
#div_title_form {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 1%;
    /*border: solid orange;*/
}
#title_field {
    font-size: 400%;
    font-style: italic;
    border: none;
}


/* ABOUT */
#div_about {
    border: thin solid lightgray;
}

#div_about > form > textarea {
    resize: none;
    width: 100%;
    border: none;
    font-size: 100%;
    font-style: italic;
}


/* DESIRED SKILLS */
#div_desired_skills {
    border: thin solid lightgray;
}

#div_desired_skills > form > textarea {
    resize: none;
    width: 100%;
    border: none;
    font-size: 100%;
    font-style: italic;
}


/* INVITE */
#div_invite {
    border: thin solid lightgray;
    min-height: 450px; /* TODO make % */
}

#list_invited {
    height: 300px; /* TODO make % */
}

#div_invite_buttons {
    width: 100%;
    text-align: right;
}
#div_invite_buttons #button_add {
    width: 10%;
    margin-right: 3%;
}


/* APPLICANTS */
#div_applicants {
    border: thin solid lightgray;
}

#list_applicants {
    height: 300px; /* TODO make % */
}


/* BUTTONS */
#div_buttons {
    border: thin solid lightgray;
}


/* FOOTER */
#footer {
    border: solid gray;
    margin: 2% 0;
}
#footer > h3 {
    margin: 0;
}


/* LISTS */
.groups_list {
    border: medium solid lightgray;
    overflow: hidden;
    overflow-y: scroll;
    margin: 2%;
}

.groups_list_item {
    list-style: none;
    border: thin solid lightgray;
    margin: 1% 1% 1% -2%;
    padding: 1%;
}
.groups_list_item .groups_list_img {
    width: 5%;
    height: 5%;
    display: inline-block;
    vertical-align: middle;
}
.groups_list_item .div_groups_list_text {
    margin-left: 1%;
    display: inline-block;
    vertical-align: middle;
}
.div_groups_list_text .group_name {
    font-size: 150%;
}
.div_groups_list_text .label_subtext {
    font-size: 80%;
    font-style: italic;
    color: #888888;
}

.groups_list_item .list_button {
    display: block;
    float: right;
    margin-right: 1%;
    vertical-align: middle;
}