body {
    min-width: 1000px;
    margin-top: 7%;
    background: #E8EDF9;
}

h1 {
    color: #5B5E63;
}

p {
    color: #5B5E63;
}

label {
    color: #1B2336;
}

.label_group_title {
    font-size: 350%;
}

.label_skill_type {
    font-size: 150%;
}

.skill_list {
    margin-top: 0.5%;
    font-size: 110%;
    color: #7094A8;
}