head{
height: 10%;
}

body{
    background-color: #E8EDF9;
}

#body{
width: 100%;
height: 80%;
background-color: #E8EDF9;

}

.openedchats{
	border: 1px solid #000000;
	height: 92%;
	width: 25%;
	float: left;
	background-color: #E8EDF9;
	overflow: auto;  	/*naina*/
}
       
ul{
    list-style: none;
    padding: 0px;
    height: 100%;
    width: 100%;
}

li{
	text-align: center;
	color: #7094A8;
	padding: 5px;
}


#footer{
    padding: 0px;
    margin: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.chat{
	border: 1px solid #000000;
	text-align: left;
	width: 70%;
	float: right;
	height: 75%;      /*naina*/
	margin-bottom: 10px;
	background-color: #E8EDF9;
	overflow: auto;
}

#chattitle{
	text-align:center;
	font-size: 150%;
	padding: 0px;
	margin:0px;
	padding: 5%;
	background-color: #7094A8;
	color: #E8EDF9;
}

#input{
	border-top: thin solid #5B5E63;
	border-width: 100%;
	padding: 5px;
	float: right;
	width: 95%;
	position:static;	
	width: 70%;
}

body #body #input #searchtext{
	width: 75%;
}

body #body #input #search{
	width: 20%;
	float: right;
	background-color: #7094A8;
	color: #E8EDF9;
}

body #body #search{
	width: 15%;
	background-color: #7094A8;
	color: #E8EDF9;
}

.chat #m1{
	border: thin solid #E8EDF9;
	border-radius: 10px;
	float: left;
	width: 95%;
}
.chat #m2{
	width:95%;
	border: thin solid #E8EDF9;
	border-radius: 10px;
	float: right;	
}

.chat #m3{
	border: thin solid #E8EDF9;
	border-radius: 10px;
	float: left;
	width: 95%;
}

.chat #m4{
	width:95%;
	border: thin solid #E8EDF9;
	border-radius: 10px;
	float: right;
}

.chat #m5{
	border: thin solid #E8EDF9;
	border-radius: 10px;
	float: left;
	width: 95%;
}

p{
    color: #7094A8;
}

/*Changes by naina*/
.messages{
	overflow: auto;
	padding: 1%;
	padding-top: 4%;
}

#topsearch{
	width: 100%;
	padding-top: 3%;
}

.names{
	padding: 5%;
	border-bottom: thin solid #7094A8;
}

#groupTitle{
	padding: 5%;
	border-bottom: thin solid #7094A8;
	background-color: #7094A8;
	color: #E8EDF9;
}

.names.selected{
	background-color: #7094A8;
	color: #E8EDF9;
}

#m1-1{
	float: left;
}

#m2-1{
	float: right;
}

#sender{
	background-color: #7094A8;
	color: #E8EDF9;
	position:fixed;
	width: 67.2%;
	padding: 1%;
	margin: 0;
}
