head{
height: 10%;
}

body{
    background-color: #E8EDF9;
}

#body{
width: 100%;
height: 80%;
background-color: #E8EDF9;

}

.openedchats{
border: 1px solid #000000;
height: 100%;
width: 25%;
padding-bottom: 25px;
float: left;
background-color: #E8EDF9;
}
       
ul{
    list-style: none;
    padding: 0px;
    height: 100%;
    width: 100%;
}

li{
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 100%;

}


#footer{

    padding: 0px;
    margin: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.chat{

border: 1px solid #000000;
text-align: left;
padding: 10px;
width: 70%;
float: right;
height: 100%;
margin-bottom: 10px;
    background-color: #E8EDF9;
}

#chattitle{
text-align:center;
font-size: 150%;
padding: 3px;
margin:0px;
color: #E8EDF9;
background-color: #5B5E63;

}

#input{
border-top: thin solid #5B5E63;
    border-width: 100%;
padding: 5px;
float: left;
width: 95%;

}

body #body #input #searchtext{
width: 75%;
}

body #body #input #search{
width: 20%;
float: right;
background-color: #7094A8;
    color: #E8EDF9;
}

body #body #search{
    width: 15%;
background-color: #7094A8;
    color: #E8EDF9;
}



.chat #m1{
border: thin solid #E8EDF9;
border-radius: 10px;
float: left;
width: 95%;
}
.chat #m2{
width:95%
border: thin solid #E8EDF9;
border-radius: 10px;
float: right;
}

.chat #m3{
border: thin solid #E8EDF9;
border-radius: 10px;
float: left;
width: 95%;
}

.chat #m4{
width:95%
border: thin solid #E8EDF9;
border-radius: 10px;
float: right;
}

.chat #m5{
border: thin solid #E8EDF9;
border-radius: 10px;
float: left;
width: 95%;
}

p{
    color: #7094A8;
}

/* unvisited link */
a:link {
    color: #7094A8;
}

/* visited link */

/* mouse over link */
a:hover {
    background-color: #ededed;
}

/* selected link */
a:active {
    color: #E8EDF9;
}

