body,html{
			margin: 0;
			padding: 0;
			background: #E8EDF9;
		}
		
		.DashboardMain{
			padding-top:70px;
			height:auto;
			overflow: auto;
			width: 99.5%;
		}
		
		.profileSection{
			margin: 2%;
			padding: 0.5%;
			border-width: medium;
			height: auto;
			overflow: auto;
		}

		.commSection {
			margin: 2%;
			padding: 0.5%;
		}
		
		.createdGroups,.matchedGroups,.groupsIn,.groupsApplied{
			margin: 2%;
			padding: 0.5%;
			border-style: solid;
			border-width: medium;
			height: auto;
			overflow: auto;
			width: 94.5%;
		}
		
		#pic{
			margin: 0.5%;	
			float: left;
			border-color: #ccc;
			width: 7%;
			height: auto;
			min-width: 70px;
			min-height: 90px;
			-moz-box-shadow: 5px 5px 0px #999; 
			-webkit-box-shadow: 5px 5px 0px #999; 
			box-shadow: 5px 5px 0px #999;
		}
		
		#profilePic{
			width: 100%;
			height: 20%;
			min-width: 70px;
			min-height: 90px;
		}
		
		#summary{
			margin: 0.5%;
			padding-left: 2%;
			float: left;
			width: 500px;
			min-width: 300px;
			min-height: 90px;
			height: 20%;
			-moz-box-shadow:    inset 0 0 10px #000000;
           		-webkit-box-shadow: inset 0 0 10px #000000;
            		box-shadow:         inset 0 0 10px #000000;
		}
		
		.icon{
			float: left;
			width: 10%;
			min-width: 80px;
			min-height: 80px;
		}
		
		.content{
			float: left;
			width:89%;
		}
		
		.individualGrp{
			width: 99%;
			float: left;
			padding: 0.5%;
			margin-bottom: 0.5%;
			margin-top: 0.5%;
		}
		
		.groupHeading{
			width: 100%;
			height: auto;
			float: left;
			background: #7094A8;
			
			-moz-box-shadow:    inset 0 0 10px #000000;
            		-webkit-box-shadow: inset 0 0 10px #000000;
            		box-shadow:         inset 0 0 10px #000000;
		}
		
		.heading{
			padding-left: 1%;
			font-size: 120%;
			color: #E8EDF9;
		}
		
		#profile{
			text-align: left;
			color: #5B5E63;
		}
		
		.createGroupContent,.matchGroupContent,.groupInContent,.groupAppliedContent{
			text-decoration: none;
			color: #1B2336;
		}
		
		#p1{
			font-size: 130%;
			color: #1B2336;
		}
		
		#p2{
			font-size: 120%;
			color: #5B5E63;
		}
		
		.individualGrp:hover{
			background-color:#ccc;
			color: blue;
		}


/*footer part*/

footer {
	width: 90%;
	margin: auto;
	display: block;
	bottom: 0;
	left: 0;
	background: #E8EDF9;
	position: relative;
	font-family: Raleway;
} #footer_table {
	width: 70%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	table-layout: fixed;
} .table_header {
	font-size: 16px;
	padding-bottom: 2%;
	color: #5B5E63;
} .table_data {
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
} .table_data a {
	text-decoration: none;
	color: #7094A8;

	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
} #footer_text {
	text-align: center;
	margin: auto;
	font-size: 11.5px;
	color: #5B5E63;
}

.table_data a:hover {
	color: #1B2336;
}



/*Header part*/
#header_content {
	margin: auto;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1;
	background: #7094A8;
}

#header_content #header_bar p {
	float: left;
	font-family: Raleway;
	font-weight: bold;
	font-size: 150%;
	padding-top: 0.35%;
	letter-spacing: 1px;
	margin-left: 25%;
	position: absolute;
}

#header_content #header_logo_container {
	float: left;
	width: 355px;
	position: relative;
}

#header_content #header_logo_container #logo_image {
	width: 20%;
	padding-left: 30%;
}

#header_content #header_bar {
		
}

#header_content #header_bar p a {
	text-decoration: none;
	color: #E8EDF9;

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#header_content #header_bar p a:hover {
	text-decoration: none;
	color: white;
}	